:root {
    --accent-color: linear-gradient(159deg, #000080 0%, #00BFFF 100%);
    --dark-color: #141212;
    --gray-color: #9f9f9f;
    --white-color: #ffffff; 
    --font-main: 'Poppins', sans-serif;
    --font-sub: 'Space Grotesk', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.grid {
    padding: 0px 120px;
}

a {
    text-decoration: none;
}

/* Mobile */
@media (max-width: 768px) {
    .grid {
        padding: 0px 20px;
    }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    .grid {
        padding: 0px 80px;
    }
}