/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.navbar__logo {
    font-size: 2.8rem;
    font-weight: 600;
}

.navbar__logo span {
    background: var(--accent-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar__item {
    padding: 6px 12px;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 4px;
}

.navbar__item a {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--dark-color);
}

.navbar__item:last-child {
    background-image: var(--accent-color);
}

.navbar__item:last-child a {
    color: var(--white-color);
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
    padding: 40px 0px;
}

.hero__content {
    flex: 6;
}

.hero__heading {
    font-size: 5.4rem;
    font-family: 'Space Grotesk', sans-serif;
}

.hero__paragraph {
    font-size: 1.6rem;
    margin-top: 20px;
}

.hero__paragraph span {
    background: var(--accent-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__cta-button {
    margin-top: 40px;
    background-image: var(--accent-color);
    display: inline-block;
    padding: 12px 24px;
    font-size: 2.0rem;
    font-weight: 500;
    border-radius: 4px;
    color: var(--white-color);
    cursor: pointer;
}

.hero__image {
    width: 420px;
    height: 420px;
    display: flex;
    align-items: center;
    flex: 4;
}

.hero__image img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* SKILL */
.skill {
    padding: 40px 0px;
    text-align: center;
}

.skill__heading {
    font-size: 4.0rem;
    font-weight: 600;
    color: var(--dark-color);
}

.skill__paragraph {
    margin-top: 20px;
    font-size: 1.6rem;
    color: var(--dark-color);
}

.skill__list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 40px auto;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 554px;
}

.skill__item {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    padding: 8px 12px;
}

.skill__item img {

}

.skill__item span {
    font-size: 1.6rem;
    font-weight: 500;
}

/* Mobile */
@media (max-width: 768px) {
    /* NAVBAR */
    .navbar__logo {
        font-size: 2.0rem;
    }
    .navbar__list {
        gap: 2px;
    }
    .navbar__item a span{
        display: none;
    }
    .navbar__item:last-child {
        background-image: none;
    }
    .navbar__item:last-child a {
        color: var(--dark-color);
    }
    /* HERO */
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        gap: 80px;
    }
    .hero__heading {
        font-size: 4.0rem;
    }

    /* SKILL */
    .skill__heading {
        font-size: 2.6rem;
    }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    /* HERO */
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        gap: 80px;
    }
    .hero__heading {
        font-size: 4.0rem;
    }

    /* SKILL */
    .skill__heading {
        font-size: 2.6rem;
    }
}